/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 17, 2017, 11:39:14 PM
    Author     : Cronosis
*/

.bgcolor{
    background-image: url("foto.jpg");

}


.box{
    background-color: rgba(49,54,76,0.8);
    width: 80%;
    padding: 3% ;
    padding-bottom: 10%;
    border: 5px solid #F4F4F5;
    margin: 0 auto;
}