<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd" >
    
    <!-- Se especifica la ruta del archivo que tendra los datos de la conexión a la BD,
         en este caso el archivo se llama database.properties y se encuentra dentro de 
         la carpeta WEB-INF -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
        p:location="/WEB-INF/database.properties"/>

    <!--  Bean que realiza la conexión a la BD usando la informacion de database.properties-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"
        p:driverClassName="${jdbc.driverClassName}"
        p:url="${jdbc.url}"
        p:username="${jdbc.username}"
        p:password="${jdbc.password}"/>
    
    
    <bean id="hibernate4AnnotatedSessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="annotatedClasses">
            <list>
                <value>Mapeo.Alimentos</value>
                <value>Mapeo.Calificar</value>
                <value>Mapeo.Persona</value>
                <value>Mapeo.Puesto</value>
                <value>Mapeo.Usuario</value>
                <value>Mapeo.Vender</value>
            </list>
        </property>   
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">false</prop>
            </props>
        </property>
    </bean>
    
    <!--  Se agrega para poder inyectarlo a los Controladores, revisa Controlador.java
          en el paquete controlador, se esta haciendo uso de @Autowiring-->
          
    <bean id="AlimentosDAO" class="Modelo.AlimentosDAO"
        p:sessionFactory-ref="hibernate4AnnotatedSessionFactory"/>
          
    <bean id="CalificarDAO" class="Modelo.CalificarDAO"
        p:sessionFactory-ref="hibernate4AnnotatedSessionFactory"/>
    
    <bean id="PersonaDAO" class="Modelo.PersonaDAO"
        p:sessionFactory-ref="hibernate4AnnotatedSessionFactory"/>
    
    <bean id="PuestoDAO" class="Modelo.PuestoDAO"
        p:sessionFactory-ref="hibernate4AnnotatedSessionFactory"/>
    
    <bean id="UsuarioDAO" class="Modelo.UsuarioDAO"
        p:sessionFactory-ref="hibernate4AnnotatedSessionFactory"/>
    
    <bean id="VenderDAO" class="Modelo.VenderDAO"
        p:sessionFactory-ref="hibernate4AnnotatedSessionFactory"/>
</beans>